<h1>Be Better!</h1>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <h2>Habits:</h2>
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <p class="lead text-muted"></p>
        <table class="table table-striped" data-effect="fade">
          <tbody>
            {{#each habits}}
            <tr>
              <td>{{GoalDesc}}</td>
              {{#if goalMetYes}}
              <td>
                <img src="https://cliparts.zone/thu/473781.gif" alt="Daily" width="50" height="50">
              </td>
              {{else if goalMetNo}}
              <td>
                <img src="https://www.shareicon.net/download/2017/06/16/887146_sad_512x512.png" alt="Daily" width="50" height="50">
              </td>
              {{else if goalQntySet}}
              <td>{{GoalQnty}}</td>
              {{else}} {{#if inputNum}}
              <td>
                <input placeholder="number" type="number" id="userInputNum" min="0" step="1" style='width:80px' } />
              </td>
              {{else if inputBool}}
              <td>
                <div class="dropdown {{GoalId}}">
                  <button class="btn btn{{GoalId}} btn-default dropdown-toggle {{GoalId}}" type="button" id="dropdown{{GoalId}}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                    Completed?
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu{{GoalId}}" aria-labelledby="dropdown{{GoalId}}">
                    <li>
                      <a id='yes{{GoalId}}'>Yes</a>
                    </li>
                    <li>
                      <a id="no{{GoalId}}">No</a>
                    </li>
                  </ul>
                </div>
              </td>
              {{/if}} {{/if}} {{#if FreqNameD}}
              <td>
                <img src="https://cdn4.iconfinder.com/data/icons/clock-and-time/32/24-hours-512.png" alt="Daily" width="50" height="50">
              </td>
              {{else if FreqNameW}}
              <td>
                <img src="https://cdn1.iconfinder.com/data/icons/office-22/48/calendar-512.png" alt="Weekly" width="50" height="50">
              </td>
              {{else if FreqNameM}}
              <td>
                <img src="https://image.flaticon.com/icons/png/512/34/34858.png" alt="Monthly" width="50" height="50">
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<h2>Add your goal</h2>
<form class='create-form'>

  <div class='form-group'>
    <label for='habit'>Habit name:</label>
    <input type='text' id='habit' name='name'>
  </div>

  <button type='submit'>Add Habit</button>
</form>





{{!--
<div class='form-group'>
  <label for='habit'>Habit name:</label>
  <input type='text' id='habit' name='name'>
</div> --}}
{{!-- 
<script>
  $(function () {
    $(".dropdown-menu .14 li a").click(function () {
      $(".btn:first-child").text($(this).text());
      $(".btn:first-child").val($(this).text());
    });
  });
</script> --}}