<h1>Welcome to the BeBetter app, please login!</h1>
<h2>Add your goal</h2>
<form class='create-form'>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="true">
      Select your name
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{#each users}}
      <li>
        <a href="/{{UserId}}/{{date}}">{{FirstName}}</a>
      </li>
      {{/each}} 
      {{!--
      <li>
        {{name}}

        <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
          {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
        </button>

        <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
      </li> --}} {{!--
      <li>
        <a href="#">Action</a>
      </li>
      <li>
        <a href="#">Another action</a>
      </li>
      <li>
        <a href="#">Something else here</a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <a href="#">Separated link</a>
      </li> --}}
    </ul>
  </div>
  <button type='submit'>Add Habit</button>
</form>